<div class="panel-categorias">


  <!--LISTA DE CATEGORÍAS-->

    <ul>

      <h3>Goles: {{contadorGoles}} / {{meta}}</h3>
      <li *ngFor="let cat of categorias">

        <!--CATEGORÍA-->

          <div id="categoria-content">
              
              <p>
                <!--Nombre de la categoría-->
                {{ cat.nombre }}
                <!--Multiplicador-->
                <strong *ngIf="cat.multiplicador > 1">X{{ cat.multiplicador }}</strong>
              </p>
              
          </div>
          


        <!--BOTÓN ASIGNAR-->

          <button 
            (click)="asignarCategoria(cat)" 
            [disabled]="cat.asignada || jugadorAsignado"
            class="btn btn-secondary">
          </button>

  


        <!--GOLES-->

          <div id="goles-content" *ngIf="cat.asignada && cat.jugador">
            <!--Foto de jugador seleccionado-->
            <img [src]="cat.jugador.foto_jugador" alt="">
            <!--Cantidad de goles del jugador seleccionado-->
            <p><strong>{{ cat.goles * cat.multiplicador }} goles</strong></p>
          </div>

      </li>
    </ul>
</div>
