<div *ngIf="jugadorMostrado" id="filtro-main">

  <!--SECCIÓN FILTRO DE JUGADORES-->

    <div id="filtro-jugador-content">

      <!--SECCIÓN INFORMACIÓN DEL JUGADOR-->

        <!--Imagen del jugador-->
        <img [src]="jugadorMostrado.foto_jugador" alt="{{ jugadorMostrado.nombre_jugador }}">
        <!--Nombre del jugador-->
        <h2>{{ jugadorMostrado.nombre_jugador }}</h2>
        

      <!--SECCIÓN BOTÓN FILTRAR JUGADOR-->

        <button (click)="iniciarFiltro()"  [disabled]="!filtrarHabilitado" class="btn btn-primary">
          Filtrar jugador
        </button>

    </div>

</div>


